.lace img {
  width: 100%;
}

.list1 {
  width: 150px;
  height: 80px;
}

.list2 {
  width: 150px;
  height: 80px;
}

.list3 {
  width: 150px;
  height: 80px;
}

.list4 {
  width: 150px;
  height: 80px;
}

.header {
  justify-content: center;
  text-align: center;
}

.logo {
  width: 400px;
  height: 150px;
}

.home {
  justify-content: center;
  text-align: center;
}

.home img {
  width: 80%;
  height: 80%;
}

.about {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.about-photo {
  width: 300px;
  height: 160px;
}

.about-photo2 {
  width: 480px;
  height: 150px;
}

.name {
  padding-bottom: 20px;
}

.profile {
  padding: 20px;
}

.profile2 {
  padding-bottom: 30px;
}

.work {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.work-photo {
  width: 300px;
  height: 160px;
}

.work-top {
  padding-bottom: 20px;
}

.work-detail {
  padding: 20px;
}

.work-photo2 {
  width: 480px;
  height: 150px;
}

.photo {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.photo-top {
  width: 300px;
  height: 160px;
}

.slider {
  height: 450px;
  /*はみでたとこ隠す*/
  overflow: hidden;
  /*画像が重なるように*/
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

/* imgのみ */
.slider__content {
  /*不透明度*/
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*画像が重なるように*/
  position: absolute;
  left: 0;
  top: 0;
  /*画像3枚を10秒で切り替えするため、全部で30秒かかる*/
  /*-webkit-animation: anime 30s 0s infinite;*/
  animation: anime 30s 0s infinite;
}

/*10秒ごとに切り替え*/
.slider__content:nth-of-type(2) {
  /*-webkit-animation-delay: 10s;*/
  animation-delay: 10s;
}

.slider__content:nth-of-type(3) {
  /*-webkit-animation-delay: 20s;*/
  animation-delay: 20s;
}

/* ふわっとアニメーション */
/*@keyframes は、アニメーション開始から終了するまでどのようなアニメーションをするのか指定できるCSSの文法*/
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}*/

.footer {
  background-color: black;
  margin-top: 20px;
}

.footer h3 {
  color: white;
  font-family: serif;
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 0px;
}

.scroll-top img {
  width: 180px;
  height: 165px;
}
